
.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}
iframe {
    width: 500%;
    border: 0;
    height: 350px;
}
.marquee {
  overflow: hidden;
  position: relative;
}
.marquee-content {
  display: flex;
  animation: marquee 30s linear infinite;
}
.marquee-content img {
  max-height: 50px;
  object-fit: contain;
}
iframe {
    width: 100%;
    border: 0;
    height: 350px;
}
.marquee {
  overflow: hidden;
  position: relative;
}
.marquee-content {
  display: flex;
  animation: marquee 30s linear infinite;
}
.marquee-content img {
  max-height: 500000px;
  object-fit: contain;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.col-sm-12{
  margin: 0;
  padding: 0;
}
.carousel-item{
    width: 100%;
    border: 0;
    height: 10px;
}

